body{
    background-color: #212020;
}

a{
    text-decoration: none;
    color: white;
}

.serch-movie{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.serch-movie input{
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container{
    width: 250px;
    margin: 20px;
    background-color: #000000;
    color: white;   
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.movie-info h4:hover{
    color: aqua;
} 

.movie-info span{
    color: #f9e449;
}

.movie-container:hover{
    transform: scale(110%);
    cursor: pointer;
}

.movie-container img{
    max-width: 100%;
}


.movie-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}